<ng-container>

  <mat-card class="largura-card">
    
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="enviarFormulario()">
      <mat-card-content>

        <mat-form-field style="width: 100%;">
          <input type="email" matInput name="email" placeholder="E-Mail" formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email?.invalid">E-Mail inválido</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
          <input type="password" matInput placeholder="Senha" formControlName="senha" required>
          <mat-icon matSuffix>lock</mat-icon>
          
          <mat-error *ngIf="senha?.invalid || senha?.errors?.minlength">Senha muito curta, insira no mínimo 6 caracteres</mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" style="width:100%;">
          <mat-icon>input</mat-icon>&nbsp;Entrar
        </button>
      </mat-card-actions>
    </form>
    
  </mat-card>
  
</ng-container>
